# Git
.git
.gitignore

# Environment and Secrets
.env
*.env
*.log

# Scripts and installers

# Local volumes and host builds
docker/db/data
docker/nginx/ssl/*.crt
docker/nginx/ssl/*.key

# Docker compose files
docker-compose*.yml
docker-compose*.yaml
README.md
LICENSE
